
.category__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}


.category__btns {
    height: 50vh;
    overflow: auto;
    padding: 10px;
    position: fixed;
    background-color: rgba(237, 235, 235, 0.81);
    left: -100%;
    top: 130px;
    transition: .7s;
}

.category__btns-show {
    left: 0;
}

.category__btns-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 20px 0;
    row-gap: 10px;
    overflow: auto;
}

.category__btns button{
    display: block;
    padding: 10px 0;
    color: orangered;
    width: 100%;
    border: none;
    border-bottom: 1px solid orangered;
    cursor: pointer;
    background-color: transparent;
}
.show-category-list-btn{
    padding: 10px 20px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .7s;
    position: fixed;
    left: 5px;
    top: 80px;
}

.show-category-list-btn:hover{
    background-color: #ffffff;
    color: orangered;
    border-color: orangered;
}




@media screen and (max-width: 760px) {
    .category__btns button,
    .show-category-list-btn{
        padding: 9px 18px;
        font-size: 13px;
    }
.show-category-list-btn-close{
    top: 70px;
}
.br{
    display: block;
}
}

@media screen and (max-width: 560px) {
    .category__btns button {
        padding: 8px 16px;
        font-size: 11px;
    }

    .category__btns-row {
        column-gap: 7px;
        padding: 14px 0;
        row-gap: 7px;
    }
    .show-category-list-btn{
        top: 80px;
    }
}

@media screen and (max-width: 450px) {
    .show-category-list-btn{
        top: 60px;
    }

    .category__btns-row {
        column-gap: 6px;
        padding: 12px 0;
        row-gap: 6px;
    }
}

@media screen and (max-width: 390px) {

    .category__btns-row {
        column-gap: 5px;
        padding: 10px 0;
        row-gap: 5px;
        margin-top: 120px;
    }
}
