
.error{
    text-align: center;
    color: red;
    border-radius: 10px;
}

.register_link{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.register_link p,button{
    font-size: 15px;
    padding: 0;
}
#register_link2{
    margin-left: 5px;
    border: none ;
    padding: 0;
}
#register_link2:hover{
    border: none;
    background-color: transparent;
    color: orangered;
}

.login-preloader{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 450px){

    .login form {
        width: 320px;
    }
}

@media screen and (max-width: 390px){

    .login form {
        width: 290px;
    }
}