
.home {
    margin-top: 100px;
    box-shadow: 0 0 5px 3px rgba(206, 206, 206, 0.15);
    padding: 15px;
}

.home-top {
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
}
.top-right{
    position: relative;
}
.refresh-btn{
    position: absolute;
    background-color: transparent;
    color: orangered;
    border: none;
    font-size: 20px;
    cursor: pointer;
    right: -10px;
}
.refresh-btn:active{
    transform: scale(1.2);
}

.avatar {
    width: 300px;
}

.home-bottom {
    margin-top: 15px;
}



.bottom-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    position: relative;
}

.bottom-media {
    width: 30%;
}

.profile-images{
    position: relative;
}
.profile-images-btn{
    position: absolute;
    color: orangered;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    transform: rotate(90deg);
    left: 5px;
}
.popup-media{
    position: absolute;
    background-color: rgba(255, 69, 0, 0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.popup-media-button{
    background-color: transparent;
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.popup-media-button:active{
    color: red;
}

.popup-media-confirm{
    color: white;
}
.popup-media-deleteBtn{
    text-transform: uppercase;
    background-color: white;
    color: red;
}
.popup-media-deleteBtn:active{
    background-color: transparent;
    color: white;
}

.welcome {
    background-color: #00a353;
    width: 500px;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 120%;
    left: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 0 37px 13px rgba(249, 0, 0, 0.2);
}

.welcome p {
    color: white;
    margin: 30px 0;
}

.welcome button {
    padding: 5px 25px;
    background-color: #ffc40d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 37px 13px rgba(249, 0, 0, 0.2);
}

.button-create-media{
    position: absolute;
    top: -17px;
    left: 0;
    background-color: transparent;
    color: orangered;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.button-create-media:active{
    font-size: 22px;
}
.edit-profile-button{
    background-color: transparent;
    color: orangered;
    border: none;
    cursor: pointer;
}
.verified__message{
    color: red;
}