
.home {
    width: 1000px;
    background-color: rgba(237, 235, 235, 0.81);
    box-shadow: 0 0 5px 5px rgba(92, 92, 92, 0.73);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
}

.home-top {
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
}

.avatar {
    width: 300px;
}

.home-bottom {
    margin-top: 15px;
}

.bottom-form {
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

.bottom-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    position: relative;
}

.bottom-media {
    width: 30%;
}

.welcome {
    background-color: #00a353;
    width: 500px;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 120%;
    left: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0 0 37px 13px rgba(249, 0, 0, 0.2);
}

.welcome p {
    color: white;
    margin: 30px 0;
}

.welcome button {
    padding: 5px 25px;
    background-color: #ffc40d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 37px 13px rgba(249, 0, 0, 0.2);
}

.button-create-media{
    position: absolute;
    top: -17px;
    left: 0;
    background-color: transparent;
    color: orangered;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.button-create-media:active{
    font-size: 22px;
}
.edit-profile-button{
    background-color: transparent;
    color: orangered;
    border: none;
    cursor: pointer;
}
.verified__message{
    color: red;
}