



.show-media-create-button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: orangered;
}





.profile-images{
    position: relative;
}
.profile-images-btn{
    position: absolute;
    color: orangered;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    transform: rotate(90deg);
    left: 5px;
}
.popup-media{
    position: absolute;
    background-color: rgba(255, 69, 0, 0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.popup-media-button{
    background-color: transparent;
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.popup-media-button:active{
    color: red;
}

.popup-media-confirm{
    color: white;
}
.popup-media-deleteBtn{
    text-transform: uppercase;
    background-color: white;
    color: red;
}
.popup-media-deleteBtn:active{
    background-color: transparent;
    color: white;
}



.logout-popup-bg{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.5);
}
.logout-popup{
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
}
.logout-message{
    color: #ffffff;
}

.logout-btn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #566ffe;
    color: #566ffe;
}
.logout-btn-cancel,
.logout-btn-logout{
    margin-top: 5px;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn-cancel{
    background-color: #ffffff;
    color: orangered;
}
.logout-btn-logout{
    background-color: transparent;
    color: #ffffff;
    margin-left: 5px;
}

.logout-btn-cancel:active,
.logout-btn-logout:active{
    transform: scale(1.1);
}

