.review input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
.review{
    padding: 100px 0;
}

.review__form{
    margin-bottom: 50px;
}
.kyzmat_form{
    padding: 10px;
}
