

.message{
    width: 300px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 15px 10px rgba(92, 92, 92, 0.3);
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 580px) {

    .reception__form{
        background-color: rgba(62, 85, 67, 0.81);
        border-radius: 15px;
    }

}

@media screen and (max-width: 470px) {
    .reception__form{
        width: 370px;
    }
}

@media screen and (max-width: 400px) {
    .reception__form {
        width: 340px;
    }
    .reception__form input, select{
        font-size: 12px;
    }
    .reception__form button{
        font-size: 15px;
        padding: 4px 32px;
    }


}

@media screen and (max-width: 375px) {
    .reception__form {
        width: 280px;
    }
    .reception__form input, select{
        font-size: 10px;
        padding: 4px 7px;
    }
    .reception__form button{
        font-size: 12px;
        padding: 3px 24px;
    }
}
