.orders{
    margin-top: 100px;
}

.orders__item{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 15px 10px rgba(92, 92, 92, 0.3);
    padding: 15px;
}

.orders__item-get,
.orders__item-more{
    font-size: 15px;
    line-height: 120%;
    padding: 5px 15px;
    color: #f0f1f8;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s;
}

.orders__item-get{
    background-color: #00D363;
    border: 1px solid #00d363;
}
.orders__item-get:hover{
    background-color: #f0f1f8;
    color: #00D363;
}

.orders__item-more{
    background-color: #158af2;
    border:1px solid #158af2;
    margin-left: 5px;
    text-decoration: none;
}
.orders__item-more:hover{
    background-color: #f0f1f8;
    color: #158af2;
}

