.orders{
    margin-top: 100px;
}

.orders__item{
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px 5px rgba(202, 202, 202, 0.3);
    padding: 15px;
    margin-bottom: 20px;
}
.orders__item-btns{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.orders__item-get,
.orders__item-more{
    font-size: 15px;
    line-height: 120%;
    padding: 5px 15px;
    color: #f0f1f8;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.orders__item-get{
    background-color: orangered;
    border: 1px solid orangered;
}
.orders__item-get:hover{
    background-color: transparent;
    color: orangered;
}

.orders__item-more{
    background-color: #ffffff;
    border:1px solid transparent;
    text-decoration: none;
    color: orangered;
}
.orders__item-more:hover{
    border-color: orangered;
}

.orders-categories-button{
    padding: 10px 20px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .7s;
    position: fixed;
    left: 5px;
    top: 80px;
}
.orders-category-btns{
    height: 50vh;
    overflow: auto;
    padding: 10px;
    position: fixed;
    background-color: rgba(237, 235, 235, 0.81);
    left: -100%;
    top: 130px;
    transition: .7s;
}
.orders-category-btns-show{
    left: 0;
}
.orders-category-btns button{
    display: block;
    padding: 10px 0;
    color: orangered;
    width: 100%;
    border: none;
    border-bottom: 1px solid orangered;
    cursor: pointer;
}
.message-for-empty{
    margin-top: 50px;
}