

.profile-images {
    margin: 5px auto;
}

.profile-img {
    width: 100%;
    object-fit: cover;
   height: 350px;
}

.profile-video {
    width: 100% !important;
    height: auto !important;
}


@media screen and (max-width: 576px) {
.profile-img{
    height: 300px;
}

}
@media screen and (max-width: 450px) {
    .profile-img{
        height: 250px;
    }

}
