

.profile__info {
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 15px 10px rgba(92, 92, 92, 0.3);
    margin-top: -400px;
}

.close-link {
    position: absolute;
    top: 0;
    left: -25px;
    color: orangered;
    font-size: 20px;
}
.close-link:active{
    font-size: 25px;
}

.fa-right-from-bracket {
    transform: rotate(180deg);
}

.profile-contact {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile-contact a {
    text-decoration: none;
    color: #158af2;
}

.profile-social {
    display: flex;
    column-gap: 10px;
}

.profile-social > a {
    font-size: 20px;
    color: #158af2;
    transition: .5s;
}

.profile-social > a:hover {
    transform: scale(1.2);
}

.profile-top {
    display: flex;
    padding: 15px;
    column-gap: 30px;
}

.profile-top > img {
    width: 40%;
}

.profile-bottom {
    padding: 15px;
}

.profile-bottom > h3 {
    margin: 15px 0;
}

.profile-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.profile-images {
    margin: 5px auto;
}

.media-cols{
    text-align: center;
}

.profile-img {
    width: 100%;
}

.profile-video {
    width: 100% !important;
    height: auto !important;
}


@media screen and (max-width: 1200px) {
    .profile__info {
        margin-top: -360px;
    }


}

@media screen and (max-width: 1000px) {
    .profile__info {
        margin-top: -300px;
    }
.close-link {
    left: -18px;
    font-size: 16px;
}
    .profile-top {
        column-gap: 20px;
    }

    .profile-contact {
        row-gap: 0;
    }


}

@media screen and (max-width: 760px) {
    .profile__info {
        margin-top: -260px;
    }
    .close-link {
        left: -9px;
        font-size: 12px;
    }
    .profile-top > img {
        height: 100%;
    }

    .profile-contact h2 {
        font-size: 18px;
    }

    .profile-contact h3 {
        font-size: 16px;
        line-height: 15px;
    }

    .profile-contact p {
        font-size: 12px;
    }

    .profile-social a {
        font-size: 14px;
    }




    .profile-bottom > h3 {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .profile-bottom {
        padding: 10px;
    }
}

@media screen and (max-width: 560px) {
    .profile__info {
        margin-top: -130px;
    }

    .profile-images {
        padding: 0 2px;
    }

    .profile-top {
        column-gap: 10px;
    }

    .profile-contact h3 {
        font-size: 15px;
        line-height: 14px;
    }
}

@media screen and (max-width: 450px) {

    .close-link {
        left: 1px;
    }

    .profile-contact h2 {
        font-size: 14px;
    }

    .profile-contact h3 {
        font-size: 11px;
        line-height: 12px;
    }

    .profile-contact p {
        font-size: 9px;
    }

    .profile-social a {
        font-size: 11px;
    }

    .profile-social a {
        font-size: 11px;
    }

    .profile-bottom > h3 {
        font-size: 12px;
        line-height: 5px;
    }



}

@media screen and (max-width: 390px) {
    .profile__info {
        margin-top: -81px;
    }



}

