.updateProfile{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(92, 92, 92, 0.5);
}
.updateProfile-form{
    width: 500px;
    background-color: orangered;
    padding: 20px;
    border-radius: 20px;
}
.check{
    margin-left: 10px;
}
.check-green{
    color: #00d363;
}
.check-red{
    color: white;
}
.updateProfile-form p{
    color: #ffffff;
}