.updateProfile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(92, 92, 92, 0.5);
    overflow: auto;
}
.form-update{
    margin: 80px auto;
}

.check{
    margin-left: 10px;
}
.check-green{
    color: #00d363;
}
.check-red{
    color: white;
}

@media screen and (max-width: 560px) {
    .form-update{
        width: 300px;
    }
}