

.check{
    margin-left: 10px;
}
.check-green{
    color: #00d363;
}
.check-red{
    color: red;
}

@media screen and (max-width: 560px) {
    .form-update{
        width: 300px;
    }
}