* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4{
    width: 33.3%;
    padding: 0 15px;
}

:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #008997;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input,
select{
    background-color: coral;
    color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: none;
    outline: none;
}
input::placeholder{
    color: rgba(240, 241, 248, 0.83);
}


.item img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.item {
    height: 285px;
    width: 300px;
    align-items: center;
    box-shadow: 0 0 5px 5px rgba(218, 218, 218, 0.53);
    padding: 20px;
    margin-top: 15px;
}

.item__title a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: orangered;
}

.item__descr {
    font-size: 14px;
    color: #AAB1B7;
}

@media screen and (max-width: 1200px){
.container{
    max-width: 850px;
}
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 760px) {
    .container {
        max-width: 540px;
    }

    .item {
        height: 205px;
        width: 220px;
        padding: 0;
        overflow: hidden;
        border: 5px solid #fff;
    }

    .item img {
        height: 117px;
    }

    .item__title a {
        font-size: 14px;
    }

    .item__descr {
        font-size: 10px;
    }

    .item__text {
        font-size: 10px;
    }
}

@media screen and (max-width: 560px) {
    .container {
        max-width: 430px;
    }

    .item {
        height: 175px;
        width: 190px;
    }

    .item img {
        height: 90px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 380px;
    }

    .item {
        height: 145px;
        width: 160px;
    }

    .item img {
        height: 80px;
    }

    .item__description {
        margin-top: -10px;
    }

    .item__title a {
        font-size: 11px;
    }

    .item__descr,
    .item__text {
        font-size: 8px;
    }
}

@media screen and (max-width: 390px) {
    .container {
        max-width: 280px;
    }

    .item {
        height: 120px;
        width: 135px;
    }

    .item img {
        height: 62px;
    }
    .item__descr, .item__text {
        line-height: 8px;
    }
    .item__title{
        line-height: 11px;
    }
    .item__description{
        margin-top: -3px;
    }
}