.accept-orders {
    margin-top: 150px;
}
.accept-orders-btns{
    position: fixed;
    top: 70px;
    background-color: rgba(237,235,235,0.81);
    width: 100%;
}

.accept-orders-filter-button{
    margin-right: 10px;
    color: #566ffe;
    border: 1px solid #566ffe;
    transition: all 0.4s ease-in-out !important;
    background: #ffffff;
    position: relative;
}
.accept-orders-filter-button-active{
    color: #ffffff;
    background: #566ffe;
}

