

.reception{

    height: 500px;
}
.bg-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 500px;
}
.bg-img img{
    width: 100%;
    height: 100%;
}


.reception__content h2{
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}
.reception__btn{
    padding: 10px 20px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid orangered;
    cursor: pointer;
    transition: .5s;
    font-size: 17px;
    line-height: 150%;
    text-decoration: none;
}
.reception__btn:hover{
    background-color: #FFFFFF;
    color: orangered;
}

.reception__content{
    top: 220px;
    position: relative;
    display: flex;
    align-items: center;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 40%;
}

@media screen and (max-width: 1200px){
    .bg-img,
    .reception{
        height: 450px;
    }
    .reception__content{
        top: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .reception__content{
        top: 150px;
        flex-direction: column;
        align-items: flex-start;
    }
    .bg-img,
    .reception{
        height: 390px;
    }
}

@media screen and (max-width: 760px) {
    .reception__content h2 {
        font-size: 26px;
    }
    .reception__content{
        top: 120px;
        row-gap: 15px;
    }
    .reception__btn{
        font-size: 13px;
        line-height: 125%;
        padding: 8px 18px;
    }
    .bg-img,
    .reception{
        height: 370px;
    }
}
@media screen and (max-width: 560px) {

    .reception__content h2 {
        font-size: 20px;
    }
    .reception__btn {
        font-size: 13px;
        line-height: 117%;
        padding: 7px 14px;
    }
    .reception__content{
        row-gap: 10px;
        top: 80px;
    }

    .bg-img, .reception {
        height: 241px;
    }
}

@media screen and (max-width: 450px) {
    .reception__btn{
        width: 163px;
    }

}
@media screen and (max-width: 390px) {
    .bg-img, .reception {
        width: 108%;
        height: 180px;
    }
    .reception__content h2 {
        font-size: 15px;
    }
    .reception__content {
        top: 30px;
        left: 80px;
        row-gap: 5px;
    }
}


