header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: orangered;
    box-shadow: 0 3px 6px 0 rgba(128, 128, 128, 0.55);
}

.header__link{
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.header__logo{
    text-transform: uppercase;
}