.search-filter-block-btn{
background-color: #566ffe;
    color: white;
border: none;
    padding: 5px 15px;
    border-radius: 15px;
}
.search-filter-block{
    transition: .5s;
}
.search-filter-block-hidden{
    opacity: 0;
    overflow: hidden;
    height: 1px;
}

.search-filter-block-show{
    opacity: 1;
    overflow: initial;
    height: initial;

}